<div class="container-fluid d-flex justify-content-center align-items-center">
    <div [formGroup]="tempPasswordForm" class="card p-5" style="border: 0px; background-color: inherit;">

        <h2 class="font-lora mb-4 text-center">Create New Password</h2>
        
        <div class="form-group mb-3">
            <input class="form-control" formControlName="currentPassword" type="currentPassword" placeholder="Enter Current Password"
                [ngClass]="{'is-invalid': this.control['currentPassword'].invalid && (this.control['currentPassword'].touched || this.control['currentPassword'].dirty)}">
            <div class="text-danger" *ngIf="this.control['currentPassword'].invalid && (this.control['currentPassword'].touched || this.control['currentPassword'].dirty)"> 
                Current Password is mandate
            </div>
        </div>
        <div class="form-group mb-3">
            <input class="form-control" formControlName="password" type="password" placeholder="Enter new password"
                [ngClass]="{'is-invalid': this.control['password'].invalid && (this.control['password'].touched || this.control['password'].dirty)}">
            <div class="text-danger" *ngIf="this.control['password'].invalid && (this.control['password'].touched || this.control['password'].dirty)"> 
                Password is mandate
            </div>
        </div>

        <div class="form-group mb-3">
            <input class="form-control" formControlName="confirmPassword" type="password" placeholder="Enter confirm password"
                [ngClass]="{'is-invalid': this.control['confirmPassword'].invalid && (this.control['confirmPassword'].touched || this.control['confirmPassword'].dirty)}">
            <div class="text-danger" *ngIf="this.control['confirmPassword'].invalid && (this.control['confirmPassword'].touched || this.control['confirmPassword'].dirty)"> 
                Confirm Password is mandate
            </div>
        </div>


        <div class="form-group text-center">
            <button type="submit" class="login-btn" (click)="setNewPassword()">Submit</button>
        </div>
    </div>
</div>