input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    height: 48px !important;
}

.input-icon-left {
    padding: inherit !important;
}

.pointer {
    font-family: Roboto !important;
}

.red {
    color: red;
}

label.text-center {
    color: #1A202C;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.login-div {
    text-align: center;
    align-items: center;
}