<div class="pre-login-body">
  <div class="pre-login-left-body">
    <span (click)="goBack()" class="back-btn-pre-login-left">
      <span class="material-symbols-outlined"> arrow_back_ios</span>
    </span>
    <div class="image-container">
      <img
        height="50%"
        width="100%"
        src="../../../../assets/images/login.png"
        alt="Centered Image"
      />
    </div>
  </div>

  <div class="pre-login-right-body">
    <span (click)="goBack()" class="back-btn-pre-login-right">
      <span class="material-symbols-outlined"> arrow_back_ios</span>
    </span>
    <div class="prelogin-form-container justify-content-center">
      <div
        class="card custome-padding"
        style="border: 0px; background-color: inherit"
      >
        <form class="center-form row">
          <h2 class="font-lora col-md-7 mb-4 text-center">Enter OTP</h2>
          <h6 class="font-lora-small mb-4 col-md-7 text-center">
            We have sent the verification code to your registered mobile number
          </h6>
          <div class="form-group col-md-7 mb-2 text-center">
            <ng-otp-input
              [config]="{ length: 6, allowNumbersOnly: true }"
              [formCtrl]="otpControl"
            ></ng-otp-input>
          </div>
          <div class="form-group mb-2 col-md-7 text-end">
            <label
              [ngClass]="!showTimer ? 'text-red' : 'text-secondary'"
              class="pointer red"
              for=""
              (click)="resendOTP()"
              >Resend OTP ?</label
            >
          </div>

          <div class="form-group col-md-7">
            <div class="login-btn login-div pointer" (click)="verifyOtp()">
              <label class="pointer" style="margin-top: 12px;" >
                Verify OTP
              </label>
            </div>
          </div>

          <div class="form-group mb-3 col-md-7 text-start">
            <label *ngIf="showTimer" class="pointer" for=""
              >OTP valid for {{ minutes }}:{{ seconds < 10 ? "0" : ""
              }}{{ seconds }} minutes</label
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
