<div class="pre-login-body">
  <div class="pre-login-left-body">
    <span (click)="goBack()" class="back-btn-pre-login-left">
      <span class="material-symbols-outlined"> arrow_back_ios</span>
    </span>
    <div class="image-container">
      <img height="50%" width="100%" src="../../../../assets/images/login.png" alt="Centered Image" />
    </div>
  </div>

  <div class="pre-login-right-body">
    <span (click)="goBack()" class="back-btn-pre-login-right">
      <span class="material-symbols-outlined"> arrow_back_ios</span>
    </span>
    <div class="prelogin-form-container justify-content-center">
      <div [formGroup]="resetPasswordForm" class="card custome-padding" style="border: 0px; background-color: inherit">
        <form class="center-form row">
          <h2 class="font-lora col-md-7 mb-4 text-center">Create New Password</h2>
          <h6 class="font-lora-small mb-4 text-center col-md-7">
            Your new password must be different from previous used password
          </h6>

          <div class="form-group icon-input-right mb-2 col-md-7">
            <span (click)="togglePassword()" class="input-icon-right" 
            [ngClass]=" this.control['password'].invalid && (this.control['password'].touched || this.control['password'].dirty) ? 
            'icon-margin-invalid-input' : ''">
              <i class="material-icons">{{ showPassword ? "visibility" : "visibility_off"}}</i>
            </span>
            <input class="form-control" formControlName="password" [type]="showPassword ? 'text' : 'password'" id="inputWithIcon" placeholder="Enter new password" 
            [ngClass]="{'is-invalid': this.control['password'].invalid && (this.control['password'].touched || this.control['password'].dirty)}"/>
          </div>
          <div class="text-danger col-md-7" *ngIf="
            this.control['password'].invalid &&
            (this.control['password'].touched || this.control['password'].dirty)
          ">
            Password is mandate
          </div>
          <div class="form-group icon-input-right mb-2 col-md-7">
            <span (click)="toggleConfirmPassword()" class="input-icon-right" [ngClass]="
              this.control['confirmPassword'].invalid &&
              (this.control['confirmPassword'].touched ||
                this.control['confirmPassword'].dirty)
                ? 'icon-margin-invalid-input'
                : ''
            ">
              <i class="material-icons">{{
                showConfirmPassword ? "visibility" : "visibility_off"
                }}</i>
            </span>
            <input class="form-control" formControlName="confirmPassword"
              [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Enter confirm password" [ngClass]="{
              'is-invalid':
                this.control['confirmPassword'].invalid &&
                (this.control['confirmPassword'].touched ||
                  this.control['confirmPassword'].dirty)
            }" />
          </div>
          <div class="text-danger col-md-7" *ngIf="
            this.control['confirmPassword'].invalid &&
            (this.control['confirmPassword'].touched ||
              this.control['confirmPassword'].dirty)
          ">
            Confirm Password is mandate
          </div>
          <div class="form-group text-center col-md-7">
            <button type="submit" class="login-btn mt-2" (click)="setNewPassword()">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>