<div class="card p-2" style="background-color: inherit; border: 0px">
  <div class="page-header">
    <h2>Add User</h2>
  </div>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo
      auctor ex. Morbi consequat, ligula ut dictum placerat, lectus quam
      vestibulum odio, nec varius massa neque at justo.
    </p>
  </div>
</div>
